
// ============================================= */
//              Color Variables                  */
// ============================================= */

// Base and typography colors
$primary-color: #58e1c1;
$secondary-color: #777;
$link-color: #51ddfc;

// Button colors
$button-default-color: #51ddfc;
$button-error-color: #e4757a;
$button-success-color: #63cc82;
$button-warning-color: #fd7856;
$button-info-color: #927bc1;

// Image colors
$image-frame-border-color: #ccc;

// Standard colors
$white-color: #fff;
$black-color: #000;

// ============================================= */
//                Break Points                   */
// ============================================= */

$large-breakpoint: 768px;