@import "../utilities/variables";

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $button-default-color;
}

.error {
  background-color: $button-error-color;
}

.info {
  background-color: $button-info-color;
}

.success {
  background-color: $button-success-color;
}

.warning {
  background-color: $button-warning-color;
}